<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>
<body style="text-align: center; margin-top: 150px; background: rgba(10,33,25,.01); " >
    
    <div id="app" >


<p v-if="show">با توجه به اینکه موثرترین راه برای مقابله با ویروس کرونا، پیشگیری از ابتلا به این بیماری است و درمان قطعی و موثری تاکنون برای آن کشف نشده است</p>
<p v-else>قالیباف بالاترین رای را میان تمام ادوار گذشته مجلس کسب کرده است </p>
<template v-if="show">
    <h1>توصیه‌هایی برای پیشگیری از ابتلا به ویروس کرونا</h1>
    <p>بیش از یک ماه است که ویروس تازه‌ای از خانواده ویروس‌های کرونا در جهان شیوع پیدا کرده است. منشاء این ویروس شهر «ووهان» چین بوده و تاکنون هزاران نفر را در چین و دیگر کشورهای جهان مبتلا کرده است. 
        🔹به‌تازگی چند مورد ابتلا به این ویروس در ایران نیز گزارش شده و موجب فوت چند ایرانی شده است. مهمترین عامل جلوگیری از انتشار این ویروس، پیشگیری عنوان شده است. </p>
</template>  
<P v-show="!show">TTHIS IS A SHOW AND HIDDEN WITH V-SHOW "DISPLAY:NONE"</P>
<p><button @click="show=!show">click me swtich</button></p>


</div>

    <script>
        new Vue ({
            el:'#app',
            data:{

               
               show:true,
                
            },
           
            
        })
    </script>
</body>
</html>